.snack-card > img {
    display: block;
    margin: auto;
    width: 450px;
    height: 450px;
    /* padding: 10px; */
}

.stash-button {
    width: 125px;
    height: 25px;
    display: block;
    margin: auto;   
}

.snack-title {
    text-align: center;
    font-size: 22px;
    font-style: monospace;
}

.line {
   width: 200px;
}